@model User
<div style="border-radius: 25px; padding: 0px 20px 20px 20px; background-color: rgb(255,245,157,0.8)" class="container  center-align">
    <h1 class="blue-text">Register</h1>
    <form class="left-align" asp-action="signup" asp-controller="Home" method="post">
        <br>
        <span class="errorMsg" asp-validation-for="Fname"></span>
        <br>
        <label class="blue-text" asp-for="Fname"></label>
        <input class="black-text" asp-for="Fname">
        <br>

        <!-- <br>
        <span class="errorMsg" asp-validation-for="Lname"></span>
        <br>
        <label asp-for="Lname"></label>
        <input asp-for="Lname">
        <br> -->

        <br>
        <span class="errorMsg" asp-validation-for="Email"></span>
        <br>
        <label class="blue-text" asp-for="Email"></label>
        <input class="black-text" asp-for="Email">
        <br>

        <br>
        <span class="errorMsg" asp-validation-for="Password"></span>
        <br>
        <label class="blue-text" asp-for="Password"></label>
        <input class="black-text" asp-for="Password">
        <br>

        <br>
        <span class="errorMsg" asp-validation-for="ConfirmPassword"></span>
        <br>
        <label class="blue-text" asp-for="ConfirmPassword"></label>
        <input class="black-text" asp-for="ConfirmPassword">
        <br>

        <br>
        <input  class="btn blue" type="submit" value="Register">
    </form>
</div>