<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .errorMsg {
            color: red;
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body style="background-color: rgb(255,245,157,0.9)">
    <a style="float: right; margin-left: 25px" href="/logout">Logout</a>
    <a style="float: right;" href="/dashboard">Dashboard</a>
    <div style="background-color: #26a69a; margin:20px; padding: 50px; width: 45%; margin: 0 auto;">
        <h3 style="color: rgb(255,245,157,1);">Creat a New Activity</h3>
        @model Thing
        <form asp-action="NewThing" asp-controller="Thing" method="post">
            <br>
            <span class="errorMsg" asp-validation-for="Name"></span>
            <br>
            <label style="color: rgb(255,245,157,1);" asp-for="Name"></label>
            <br>
            <input asp-for="Name">

            <br>
            <span class="errorMsg" asp-validation-for="Date"></span>
            <br>
            <label style="color: rgb(255,245,157,1);" asp-for="Date"></label>
            <br>
            <input min="@DateTime.Now.ToString("yyyy-MM-dd")" type="date" asp-for="Date">

            <br>
            <span class="errorMsg" asp-validation-for="Time"></span>
            <br>
            <label style="color: rgb(255,245,157,1);" asp-for="Time"></label>
            <br>
            <input type="time" asp-for="Time">

            <br>
            <span class="errorMsg" asp-validation-for="Duration"></span>
            <br>
            <label style="color: rgb(255,245,157,1);" asp-for="Duration"></label>
            <br>
            <input asp-for="Duration">
            <br>

            <span class="errorMsg" asp-validation-for="DurationType"></span>
            <br>
            <label style="color: rgb(255,245,157,1);" asp-for="DurationType"></label>
            <br>
            <select asp-for="DurationType" >
                <option value="1">Minutes</option>
                <option value="60">Hours</option>
                <option value="1440">Days</option>
            </select>

            <br>
            <span class="errorMsg" asp-validation-for="Description"></span>
            <br>
            <label style="color: rgb(255,245,157,1);" asp-for="Description"></label>
            <br>
            <input asp-for="Description">
            <br>

            <br>
            <br>
            <input style="color: #26a69a; background-color: rgb(255,245,157,1)"  class="btn" type="submit" value="Create Activity">
        </form>
    </div>

</body>
</html>